<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html">link 1</a></li>
        <li><a href="index.html">Link 2</a></li>
        <li><a href="index.html">Link 3</a></li>
      </ul>
    </div>
  </nav>
</header>
